src/main/resources/META-INF/midas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.itunic.com/schema/midas"
	xmlns:tns="http://www.itunic.com/schema/midas" elementFormDefault="qualified">
	<element name="protocol">
		<complexType>
			<attribute name="id" type="string" />
			<attribute name="name" type="string" default="midas" />
			<attribute name="port" type="integer" default="20880" />
			<attribute name="threads" type="integer" default="-1"/>
			<attribute name="serialization" type="string" default="JDK" />
		</complexType>
	</element>
</schema>  